@import "tailwindcss";

:root {
  --background: #063B8B;
  --foreground: #fff;
  --primary: #4081C4;
  --secondary: #0B41A6;
  --accent: #48BFF0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-logo: var(--font-sansation);
  --font-header: var(--font-martel-sans);
  --font-body: var(--font-libre-franklin);
  --font-callout: var(--font-ember);
}

.gradient-sky {
  @apply bg-gradient-to-b from-[#4BAFF4] to-[#1C8AD8];
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.libre-franklin-text {
  line-height: 1.5;
}

/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}